<div class="credits popup">
  <style>
    .credits-section__list {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
    }
  </style>
  <div class="credits-content">
    <section class="credits-section">
      <h3 class="credits-section__header">Атрибуция</h3>
      <ul class="credits-section__list">
        <li>Картографические данные &copy; <a href="https://www.openstreetmap.org/copyright" class="outer-link" target="_blank">OpenStreetMap</a> contributors</li>
        <li>Данные точек &copy; <a href="https://ingress.com" class="outer-link" target="_blank">Ingress</a></li>
        <li>Фотографии точек &copy; <a href="https://ingress.com" class="outer-link" target="_blank">Агенты Ingress</a></li>
      </ul>
    </section>
    <section class="credits-section">
      <h3 class="credits-section__header">Зависимости</h3>
      <ul class="credits-section__list">
        <li><a href="https://jquery.org" class="outer-link" target="_blank">jQuery</a> v3.6.0 — <a href="https://opensource.org/license/mit/" class="outer-link" target="_blank">лицензия MIT</a></li>
        <li><a href="https://openlayers.org" class="outer-link" target="_blank">OpenLayers</a> v7.1.0 — <a href="https://opensource.org/license/bsd-2-clause/" class="outer-link" target="_blank">лицензия BSD-2-Clause</a></li>
        <li><a href="https://turfjs.org" class="outer-link" target="_blank">Turf.js</a> v7.0.0-alpha.0 — лицензия MIT</li>
        <li><a href="https://splidejs.com" class="outer-link" target="_blank">Splide.js</a> v4.1.4 — лицензия MIT</li>
        <li><a href="https://github.com/apvarun/toastify-js" class="outer-link" target="_blank">Toastify.js</a> v1.12.0 — лицензия MIT</li>
      </ul>
    </section>
  </div>
  <button class="popup-close">[x]</button>
</div>